.headShowTrips {
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: 0 1px 5px black;
}

.mainListTravel{
    width: 100%;
    height: 100vh;
    padding: 7vh 100px 50px 100px;
    font-family: 'local';
    background: rgb(240, 240, 240);
    
    .listTrips{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 200px;
        gap: 10px;
        padding: 50px 50px 50px 50px;

        .itemList{
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 5px;
            box-shadow: 0 0 5px black;
            padding: 10px;
            list-style-type: none;
            border-radius: 10px;
            background: white;
            transition: transform 0.1s linear;

            .idTrip{
                display: none;
            }
            
            .containerCityImg{
                width: 200px;
                aspect-ratio: 1;
                
                img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            .infoTravel{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .seatsAvailableD{
                    display: flex;
                    flex-direction: column;

                    .seatsAv{
                        display: flex;
                        align-items: center;
                    }
                    
                    .departure_date{
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        user-select: none;
                        font-size: 0.8rem;
                        justify-content: space-between;
                    }
                }
                .priceButton{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .checkTrip{
                        width: 40%;
                        height: 30px;
                        border: none;
                        background: rgb(0, 110, 255);
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: transform 0.1s linear;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}