.headerMainComponent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    font-family: local;
    

    .imgContainerHeader{
        width: 100px;
        aspect-ratio: 1;

        .headerImageLogo{
            width: 100%;
            user-select: none;
        }
    }

    .navHeaderComponent{
        width: 350px;
        height: 100%;
        
        .listaNavHeader{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;

            li{
                overflow-x: hidden;
                
                .travel-options{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 1.2rem;
                    position: relative;

                    
                    

                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background: black;
                        transform: translateX(-100%);
                        transition: transform 0.2s linear;
                    }

                    &:hover::before{
                        transform: translateX(0%);
                    }
                }

                .travel-profile{

                    img{
                        width: 50px;
                        border-radius: 50%;
                        opacity: 0.3;
                        transition: opacity 0.2s linear;

                        &:active{
                            transform: scale(0.98);
                        }

                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}