.containerWelcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: local;

    .welcomeImage {
        width: 100%;
        height: 700px;
        background: url(../../assets/test2.png), no-repeat;
        background-size: cover;
        background-position: 10% 20%;
    }

    .infoWelcome {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .travel-Dialogo{
            width: 100%;
            height: auto;
            padding: 10px;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            

            .Travel-Reservar-Viaje{
                width: fit-content;
                padding: 0 15px;
                height: 35px;
                color: white;
                border: none;
                border-radius: 10px;
                background: rgb(9, 49, 179);
                cursor: pointer;

                &:active{
                    transform: scale(0.97);
                }
            }
        }

        .infoSection{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 300px;
            gap: 40px;

            .travel-container-info{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.103);
                border-radius: 5px;
                transition: transform 0.2s linear;
                user-select: none;

                &:hover{
                    transform: scale(1.02);
                }
            }
        }
    }
}