.createTrip {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: thin;

    .Header-create-trip {
        width: 100vw;
        height: 7vh;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.308);
        position: sticky;
        top: 0;
        background: white;
    }

    .Trip-form {
        width: 100vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        z-index: -10000;


        .secContent {
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }

        .topSec {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 20px;

            .imageVehicle {
                width: 100%;
                height: 250px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .selectVehicule {
                    width: 200px;
                    height: 100%;
                    border: none;
                    background: none;
                    cursor: pointer;
                    border-radius:25px;
                    background: #e0e0e0;
                    position: relative;

                    .selectV {
                        width: 50%;
                        height: 50%;
                        opacity: 0.6;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }
            }

            .userInformation{
                width: 100%;
                height: 100%;
                border: 1px solid black;
                padding: 5px;

                .formDriver{
                   width: 100%;
                   height: 100%;
                   display: flex;
                   flex-direction: row;
                   gap: 10px;

                   .boxInfo{
                    width: 50%;
                    height: 100%;
                    border: 1px solid black;
                   }
                }
            }
        }
    }
}