.headerMainComponent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    font-family: local;
    

    .imgContainerHeader{
        width: 100px;
        aspect-ratio: 1;

        .headerImageLogo{
            width: 100%;
            user-select: none;
        }
    }

    .navHeaderComponent{
        width: 350px;
        height: 100%;
        position: relative;
        
        .listaNavHeader{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;

            li{
                overflow-x: hidden;
                
                .travel-options{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 1.2rem;
                    position: relative;

                    
                    

                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background: black;
                        transform: translateX(-100%);
                        transition: transform 0.2s linear;
                    }

                    &:hover::before{
                        transform: translateX(0%);
                    }
                }

                .travel-profile{
                    z-index: 1000;
                    img{
                        width: 50px;
                        aspect-ratio: 1;
                        object-fit: cover;
                        border-radius: 50%;
                        opacity: 0.9;
                        transition: opacity 0.2s linear;

                        &:active{
                            transform: scale(0.98);
                        }

                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .userNav{
            position: absolute;
            top: 0;
            right: -50px;
            width: 110vw;
            height: 100vh;
            transform: translateX(100%);

            .containerList{
                width: 100%;
                height: 100%;
                position: relative;


                .userListOptions{
                    position: absolute;
                    right: 50px;
                    top: 67px;
                    width: 200px;
                    height: auto;
                    background: white;
                    list-style-type: none;
                    padding: 10px;
                    border-radius: 0 0 5px 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    z-index: 10000000000;

                    .user-Options{
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        border-radius: 10px;
                        transition: box-shadow 0.2s ease;
                        color: black;

                        &:hover{
                            box-shadow: inset 0 0 4px black;
                        }
                    }

                    .viajeG{
                        display: none;
                        .user-viajesG{
                            display: flex;
                            gap: 2px;
                            .generateViajeLogo{
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }

        .slide{
            transform: translateX(0%);
        }
    }
}